<div class="book_list_image">
    <%if(book.hasimage) {%>
        <img src="/images/<%=book.filepath%>">
    <%} else {%>
        <img src="/images/Chalk-Heart-PNG-Clipart-Background.png">
    <%}%>
</div>