<header>
    <nav>
        <ul class="navigation">
            <li><a title="about" href="/">About book-crossing</a></li>
            <li><a title="books" href="/books">All books</a></li>
            <li><a title="places" href="/touring_books">Touring books</a></li>
            <li><a title="hunt" href="/hunt">Hunt</a></li>
            <li><a title="places" href="/places">Places</a></li>
        </ul>
    </nav>
</header>