<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <h1><%=title %></h1>
    <nav class="navigation">
        <ul>
            <li><a title="about" href="/about">About book-crossing</a></li>
            <li><a title="books" href="/books">All books</a></li>
            <li><a title="places" href="/touring_books">Touring books</a></li>
            <li><a title="hunt" href="/hunt">Hunt</a></li>
            <li><a title="places" href="/places">Places</a></li>
        </ul>
    </nav>
</body>
<html>