<!DOCTYPE html>
<html>
<head>
    <title><%=title %></title>
    <meta charset="utf-8" />
</head>
<body>
    <h1><%=title %></h1>
    <nav class="navigation">
        <ul>
            <li><a title="about" href="/about">О буккроссинге</a></li>
            <li><a title="books" href="/books">Книги</a></li>
            <li><a title="hunt" href="/hunt">Охота</a></li>
            <li><a title="places" href="/places">Места</a></li>
        </ul>
    </nav>
</body>
<html>